<div id="buy-t">

<section class="tm-section tm-section-about" id="about">

    <div class="tm-page-content-width">
        <div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
            <div class="tm-content-box-inner">
                <h2 class="tm-section-title">Как покупать билет на самолет</h2>
                <p>На самом деле, все достаточно просто. Особенно если пользоваться специальными сайтами, которые помогут с выбором билета. Кроме того, там есть разделы, где можно найти всю важную и полезную информацию.</p>
                <p>Дальше, после того, как вы узнаете все, что вам интересует, нужно перейти в специальный раздел и начать покупку авиабилетов.</p>   
                <p>Вы можете заказать билеты или на официальном сайте перевозчека, или на сайте сервиса по продаже билетов Б таких как:
                    <ul>
                        <li>
                            <a href="https://tripmydream.com/" target="_blank">
                                TripMyDream
                            </a>
                        </li>
                        <li>
                            <a href="https://www.aviasales.ua/" target="_blank">
                                AviaSales
                            </a>
                        </li>
                        <li>
                            <a href="https://aviakassa.net/" target="_blank">
                               AviaKassa
                            </a>
                        </li>
                        <li>
                            <a href="https://avia.tickets.ua/" target="_blank">
                               AviaTickets
                            </a>
                        </li>
                    </ul>
                </p>
            </div>                        
        </div>                    
    </div>
    
</section>


<section class="tm-section tm-section-services" id="services">

    <div class="tm-page-content-width">
        <div class="tm-bg-black-translucent tm-content-box tm-flex-center">
            <div class="tm-content-box-inner">
                <h2 class="tm-section-title">Как покупать дешевые авиабилеты</h2>
                <p>Чтобы найти самые дешевые билеты нужно лишь ввести город, откуда вы вылетаете и город, куда прибываете. После этого вы увидите весь перечень возможных рейсов и цены на них. На некоторых сайтах есть специальные фильтры, где можно отсеять все билеты, которые дороже указанной сумы.</p>
                <p>После того, как вы брались подходящие для вас авиабилеты нужно заполнить соответствующие поля, и подтвердить покупку билетов. После этого на вашей почте появится специальный код, который и подтверждает присутствие у вас билета.</p>
                <p>Кроме этого, желательно подписаться на рассылки от авиакомпаний, где они будут присылать информацию о всех действующих и будущих акциях. Порой там бывают очень хорошие и экономные предложения.</p>
                <p>Теперь вы знаете, как покупать билеты на самолет со скидками и надеемся, что эта информация поможет вам. Просто заполните форму ниже и отправляейтесь в путeшествие!</p>
                <img src="../../img/trip.png">
            </div>                        
        </div> 
    </div> 

</section>

</div>