<div class="info">
    <section class="tm-section-info tm-section-info-pog" id="about">

        <div class="tm-page-content-width">
            <div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
                <div class="tm-content-box-inner">
                    <h2 class="tm-section-title">Новые правила въезда в Украину – разъяснение Госпогранслужбы</h2>
                    <p>Заместитель директора департамента — начальник управления организации приграничного контроля Государственной пограничной службы Юрий Лысюк ответил на самые актуальные вопросы относительно въезда в Украину граждан, обладателей вида на жительство, а также иностранцев. </p>
                    <p><a href="https://youtu.be/1Q-OvYFcuJ4" target="_blank">Tрансляцию вели на youtube-канале ведомства.</a> Avianews выбрало главное.</p>
                </div>                        
            </div>                    
        </div>
        
    </section>
    
    
    <section class="tm-section-info tm-section-info-rg" id="services">
    
        <div class="tm-page-content-width">
            <div class="tm-bg-black-translucent tm-content-box tm-flex-center">
                <div class="tm-content-box-inner">
                    <h2 class="tm-section-title">Граждане каких стран должны проходить карантин?</h2>
                    <p>Министерство здравоохранения делит страны на две категории: зеленый и красный список. В зеленый попадают те страны, число активных случаев в которых не превышает 40 на 100 тыс. человек. Остальные попадают в красный.</p>
                    <p>14-дневный карантин должны проходить только те люди, которые приезжают в Украину из стран красной зоны. Они могут пройти обсервацию в специальном учреждении или двухнедельную самоизоляцию дома. При этом они должны будут установить приложение «Дій вдома», которое будет проверять местонахождение пользователя и просить его сфотографироваться.</p>
                </div>                        
            </div> 
        </div> 
    
    </section>

    <section class="tm-section-info tm-section-info-red" id="about">

        <div class="tm-page-content-width">
            <div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
                <div class="tm-content-box-inner">
                    <h2 class="tm-section-title">Как попасть в Украину из страны красного списка?</h2>
                    <p>Если пассажир летит в Украину из страны зеленого списка, однако транзит проходит через страну, которая отнесена к красному, то пограничники будут считать, что человек прибыл из страны зеленого списка, в связи с чем ему не нужно будет проходить обсервацию.</p>
                    <p>Если человек хочет приехать в Украину из страны, которая находится в красном списке, менее чем на 14 дней, от такой поездки лучше воздержаться, иначе его привлекут к административной ответственности за нарушение карантина и наложат штраф от 17 тыс. грн до 34 тыс. грн.</p>   
                </div>                        
            </div>                    
        </div> 
    </section>
    
    
    <section class="tm-section-info tm-section-info-doc" id="services">
    
        <div class="tm-page-content-width">
            <div class="tm-bg-black-translucent tm-content-box tm-flex-center">
                <div class="tm-content-box-inner">
                    <h2 class="tm-section-title">Какие документы нужно иметь иностранцам для пересечения границы?</h2>
                    <p>Помимо личных документов, все иностранцы должны иметь страховку, даже если они въезжают из стран зеленой зоны. Полис может быть в электронном или бумажном виде. Он должен покрывать лечение на случай заболевания COVID-19 и обсервацию.</p>
                    <h2 class="tm-section-title">Где можно найти актуальную информацию по пересечению границы?</h2>
                    <p>В Украине создадут информационный портал «Визит.юа» для туристов и посетителей Украины, где они могут посмотреть актуальную информацию о пересечении украинской границы.</p>
                </div>                        
            </div> 
        </div> 
    </section>

    
    <section class="tm-section-info tm-section-info-ob" id="about">

        <div class="tm-page-content-width">
            <div class="tm-bg-black-translucent tm-content-box tm-content-box-right tm-flex-center">
                <div class="tm-content-box-inner">
                    <h2 class="tm-section-title">Можно ли отказаться от обсервации, если вы имеете негативный результат на COVID-19?</h2>
                    <p>Нет, наличие такой справки при въезде из страны красного списка никак не влияет на необходимость прохождения 14-дневного карантина. Это связано с тем, что послабление правил не предусмотрено законом, поэтому на границе никто не учитывает наличие подобной справки.</p>
                </div>                        
            </div>                    
        </div>
        
    </section>
    
</div>