#cards-container {
    display: flex;
    flex-direction: row;
}

#home-container {
    height: calc( 100vh - 50px);
    background-image: url('../../img/bg-34.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1,p{
        color: whitesmoke;
    }
}