<div class="cont">
	<div class="row h-100 align-items-center">
	<div class="col-12 text-center">
		<h1>Контакты редакции</h1>
		<p class="lead">Ниже Вы можете увидить контакты нашей редакции и официальные социальные сети:</p>		
		<div class="container">
			<div class="row">
			  <div class="col-sm">
				<a href="https://www.instagram.com/sviridov__2" target="_blank"><span class="label">Instagram</span></a>
			  </div>
			  <div class="col-sm">
				<a href="https://t.me/Sviridov_2" target="_blank"><span class="label">Telegram</span></a>
			  </div>
			  <div class="col-sm">
				<a href="mailto:sviridovdanyl2001@gmail.com" target="_blank"><span class="label">Email</span></a>
			  </div>
			  <div class="col-sm">
				<a href="https://www.linkedin.com/in/%D0%B4%D0%B0%D0%BD%D0%B8%D0%B8%D0%BB-%D1%81%D0%B2%D0%B8%D1%80%D0%B8%D0%B4%D0%BE%D0%B2-2767471b0/" target="_blank"><span class="label">Linkedin</span></a>
			  </div>
			  <div class="col-sm">
				<a href="https://github.com/SviridovDanyl" target="_blank"><span class="label">Github</span></a>
			  </div>
			</div>
		  </div>
		<p>Ждём Ваши статьи и перечень интересующих тем в наших соц сетях.</p> 
	</div>
	</div>
</div>					