<div class="navist">
<ul class="nav justify-content-center">
    <li class="nav-item ">
        <a class="nav-link col-lg-2" href="#" data-route="home"><img src="../../img/logo.png" width="60px" height="40px"></a>
    </li> 
    <li class="nav-item col-lg-2">
        <a class="nav-link" href="#" data-route="major">Новости</a>
    </li>
    <li class="nav-item col-lg-2">
        <a class="nav-link" href="#" data-route="buyt">Покупка авиабилетов</a>
    </li>
    <li class="nav-item col-lg-2">
        <a class="nav-link" href="#" data-route="info">Справка</a>
    </li>
    <li class="nav-item col-lg-2">
        <a class="nav-link" href="#" data-route="cont">Контакты</a>
    </li>
</ul>
</div>