#header-container {
    height: 50px;
    max-height: 50px;
}


.navist>ul>li>a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  .navist>ul>li>a:link {
    color: #5f72e0;
  }
  
  .navist>ul>li>a:visited {
    color: #3c6db8;
  }
  
  .navist>ul>li>a:focus {
    border-bottom: 1px solid;
    background: #4a87d6;
  }
  
  .navist>ul>li>a:active {
    background: #050897;
    color: #CDFEAA;
  }

  .tm-content-box-inner>p>a:hover {
	border-bottom: 1px solid;     
	background: #93d4fa;
  }