@import "~bootstrap/scss/bootstrap";
body {
    box-sizing: border-box;
    height: 100%;
    background-color: cornflowerblue;
}

#main-container {
    height: 100%;
}

#header-container{
    background-color: cornflowerblue;
}